.navList{
list-style-type:none;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;

}
a{
    text-decoration: none;
    color: black;
}
#join{
    border: 1px red solid;
    padding: 20px;
    border-radius: 20px;
}
#first{
    color: white;
    background-image:url('../gym\ bc.jpg') ;
    height: 700px;
    background-repeat: no-repeat;
    background-size:cover ;
}
.title{
    color: white;
    font-size:40px ;

}
.firstBody{
    padding-top: 100px;
    font-size: 40px;
    color: white;
    padding-left:50px ;
    width: 500px;
}

.redColor{
    color: red;
}

.App{
    font-size: 20px;
    padding: 15px;
    border: 1px solid red;
    background-color: rgba(0,0,0,0);
    border-radius: 15px;
}

.App:hover{
    background-color: whitesmoke;
}

#newUl{
    font-size: 10px;
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
}

li{
    list-style-type: none;

}

.withBorder{
    list-style-type: none;
    border-right: 1px solid white;
    padding-right: 20px;
}

.colorWhite{
    color: white;
}

.second{
    text-align: center;
}
